In [1]:
import pandas as pd
import numpy as np
import polars as ps

In [2]:
df = pd.read_csv('/kaggle/input/bondsmovieanalysis/jamesbond.csv', index_col="Film")
df.head(1)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6

In [3]:
actorIS = df["Actor"] == "Sean Connery"
#one type of changing all the values

In [4]:
Sean_Connery = df.query("Actor == 'Sean Connery'")
#selecting with query

In [5]:
df.loc[actorIS, "Actor"] = "Sir Sean Connery"
#change name to another name

In [6]:
df.rename(mapper =  {"GoldenEye" : "Golden Eye"}, inplace = True)
#rename with mapper

In [7]:
df.rename(columns={"Year" : "Release Date"}, inplace = True)
#rename column

In [8]:
#rename all columns 
#bond.columns = ['1', '2', '3', '4', '5',"6"]

In [9]:
# bond.drop(["A View to a Kill", "Casino Royal"], inplace=True)
#delete rows

In [10]:
#bond.drop(["Box Office", "Actor"], axis ="columns", inplace=True)

In [11]:
#bond.pop("Actor")
#actor = bond.pop("Actor") STORES the deleted from DF column to another DF

In [12]:
# del bond[Director]

In [13]:
df.head(3)

,Release Date,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [14]:
df.sample(axis = 1)

                                           Director
Film
Dr. No                                Terence Young
From Russia with Love                 Terence Young
Goldfinger                             Guy Hamilton
Thunderball                           Terence Young
Casino Royale                            Ken Hughes
You Only Live Twice                   Lewis Gilbert
On Her Majesty's Secret Service       Peter R. Hunt
Diamonds Are Forever                   Guy Hamilton
Live and Let Die                       Guy Hamilton
The Man with the Golden Gun            Guy Hamilton
The Spy Who Loved Me                  Lewis Gilbert
Moonraker                             Lewis Gilbert
For Your Eyes Only                        John Glen
Never Say Never Again                Irvin Kershner
Octopussy                                 John Glen
A View to a Kill                          John Glen
The Living Daylights                      John Glen
Licence to Kill                           John Glen
Golden Eye                          Martin Campbell
Tomorrow Never Dies              Roger Spottiswoode
The World Is Not Enough               Michael Apted
Die Another Day                        Lee Tamahori
Casino Royale                       Martin Campbell
Quantum of Solace                      Marc Forster
Skyfall                                  Sam Mendes
Spectre                                  Sam Mendes

In [15]:
df.sort_values("Box Office", ascending= False).head(3)

,Release Date,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [16]:
df.nlargest(3, columns = "Box Office")
df.nsmallest(3, columns = "Box Office")

,Release Date,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6

In [17]:
df["Budget"].nlargest()

Film
Spectre                    206.3
Quantum of Solace          181.4
Skyfall                    170.2
The World Is Not Enough    158.3
Die Another Day            154.2
Name: Budget, dtype: float64

In [18]:
mask = df.query("Actor == 'Daniel Craig'")

In [19]:
[column_name.replace(" ","_") for column_name in df.columns]

['Release_Date',
 'Actor',
 'Director',
 'Box_Office',
 'Budget',
 'Bond_Actor_Salary']

In [20]:
df.query("Director == 'Terence Young' & Actor =='Sir Sean Connery'")

,Release Date,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7

In [21]:
df.query("Actor in ['Timothy Dalton', 'George Lazenby']")

,Release Date,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9

In [22]:
# def convert_to_string_and_add_millions(number):
    #  return str(number)+"MILLIONS!"
#df["Box Office"].apply(convert_to_string_and_add_millions)

In [23]:
#columns = ["Box Office", "Budget"]
#for col in columns: 
        #df[col] =  df[col].apply(convert_to_string_and_add_millions)
#df.head(3)

In [24]:
def good_movie(row):
    actor = row[1]
    budget = row[4]
    
    if actor == 'Pierce Brosnan':
        return'The best'
    elif actor == 'Roger Moore' and budget > 40:
        return 'Enjoyable'
    else:
        return 'No clue'
df.apply(good_movie, axis = 1)

Film
Dr. No                               No clue
From Russia with Love                No clue
Goldfinger                           No clue
Thunderball                          No clue
Casino Royale                        No clue
You Only Live Twice                  No clue
On Her Majesty's Secret Service      No clue
Diamonds Are Forever                 No clue
Live and Let Die                     No clue
The Man with the Golden Gun          No clue
The Spy Who Loved Me               Enjoyable
Moonraker                          Enjoyable
For Your Eyes Only                 Enjoyable
Never Say Never Again                No clue
Octopussy                          Enjoyable
A View to a Kill                   Enjoyable
The Living Daylights                 No clue
Licence to Kill                      No clue
Golden Eye                          The best
Tomorrow Never Dies                 The best
The World Is Not Enough             The best
Die Another Day                     The best
Casino Royale                        No clue
Quantum of Solace                    No clue
Skyfall                              No clue
Spectre                              No clue
dtype: object

In [25]:
directors = df["Director"].copy()
directors["A View to a Kill"]

'John Glen'