In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/data-analysis-with-pandas-and-python/jamesbond.csv
/kaggle/input/data-analysis-with-pandas-and-python/Restaurant - Week 1 Satisfaction.csv
/kaggle/input/data-analysis-with-pandas-and-python/Data - Single Worksheet.xlsx
/kaggle/input/data-analysis-with-pandas-and-python/Restaurant - Week 2 Sales.csv
/kaggle/input/data-analysis-with-pandas-and-python/quarters.csv
/kaggle/input/data-analysis-with-pandas-and-python/google_stock_price.csv
/kaggle/input/data-analysis-with-pandas-and-python/Restaurant - Customers.csv
/kaggle/input/data-analysis-with-pandas-and-python/worldstats.csv
/kaggle/input/data-analysis-with-pandas-and-python/Restaurant - Foods.csv
/kaggle/input/data-analysis-with-pandas-and-python/Data - Multiple Worksheets.xlsx
/kaggle/input/data-analysis-with-pandas-and-python/fortune1000.csv
/kaggle/input/data-analysis-with-pandas-and-python/bigmac.csv
/kaggle/input/data-analysis-with-pandas-and-python/chicago.csv
/kaggle/input/data-analysis-with-pandas-and-python/employees.csv
/kaggle/input/data-analysis-with-pandas-and-python/pokemon.csv
/kaggle/input/data-analysis-with-pandas-and-python/ecommerce.csv
/kaggle/input/data-analysis-with-pandas-and-python/salesmen.csv
/kaggle/input/data-analysis-with-pandas-and-python/foods.csv
/kaggle/input/data-analysis-with-pandas-and-python/nba.csv
/kaggle/input/data-analysis-with-pandas-and-python/Restaurant - Week 1 Sales.csv
/kaggle/input/data-analysis-with-pandas-and-python/revenue.csv

In [2]:
df = pd.read_csv('/kaggle/input/data-analysis-with-pandas-and-python/salesmen.csv', parse_dates =['Date'], dayfirst= True)
df["Salesman"] = df["Salesman"].astype("category")
df.head(3)

        Date Salesman  Revenue
0 2016-01-01      Bob     7172
1 2016-02-01      Bob     6362
2 2016-03-01      Bob     5982

In [3]:
df = df.pivot(index= "Date", columns = "Salesman",values ="Revenue" )
df.head(3)

Salesman     Bob  Dave   Jeb  Oscar  Ronald
Date
2016-01-01  7172  1864  4430   5250    2639
2016-01-02  6151  2211  4684   9455    5903
2016-01-03  4144  9152  5912    225    7395