In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/data-analysis-with-pandas-and-python/jamesbond.csv
/kaggle/input/data-analysis-with-pandas-and-python/Restaurant - Week 1 Satisfaction.csv
/kaggle/input/data-analysis-with-pandas-and-python/Data - Single Worksheet.xlsx
/kaggle/input/data-analysis-with-pandas-and-python/Restaurant - Week 2 Sales.csv
/kaggle/input/data-analysis-with-pandas-and-python/quarters.csv
/kaggle/input/data-analysis-with-pandas-and-python/google_stock_price.csv
/kaggle/input/data-analysis-with-pandas-and-python/Restaurant - Customers.csv
/kaggle/input/data-analysis-with-pandas-and-python/worldstats.csv
/kaggle/input/data-analysis-with-pandas-and-python/Restaurant - Foods.csv
/kaggle/input/data-analysis-with-pandas-and-python/Data - Multiple Worksheets.xlsx
/kaggle/input/data-analysis-with-pandas-and-python/fortune1000.csv
/kaggle/input/data-analysis-with-pandas-and-python/bigmac.csv
/kaggle/input/data-analysis-with-pandas-and-python/chicago.csv
/kaggle/input/data-analysis-with-pandas-and-python/employees.csv
/kaggle/input/data-analysis-with-pandas-and-python/pokemon.csv
/kaggle/input/data-analysis-with-pandas-and-python/ecommerce.csv
/kaggle/input/data-analysis-with-pandas-and-python/salesmen.csv
/kaggle/input/data-analysis-with-pandas-and-python/foods.csv
/kaggle/input/data-analysis-with-pandas-and-python/nba.csv
/kaggle/input/data-analysis-with-pandas-and-python/Restaurant - Week 1 Sales.csv
/kaggle/input/data-analysis-with-pandas-and-python/revenue.csv

In [2]:
df = pd.read_csv('/kaggle/input/data-analysis-with-pandas-and-python/worldstats.csv', index_col=['country', 'year']).dropna(how = 'any')
df.head(3)

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12

In [3]:
df.stack().to_frame()

                                       0
country    year
Arab World 2015 Population  3.920223e+08
                GDP         2.530102e+12
           2014 Population  3.842226e+08
                GDP         2.873600e+12
           2013 Population  3.765043e+08
...                                  ...
Zimbabwe   1962 GDP         1.117602e+09
           1961 Population  3.876638e+06
                GDP         1.096647e+09
           1960 Population  3.752390e+06
                GDP         1.052990e+09

[22422 rows x 1 columns]

UNSTACK pivot table

In [4]:
df.unstack()

                      Population                                            \
year                        1960          1961          1962          1963
country
Afghanistan         8.994793e+06  9.164945e+06  9.343772e+06  9.531555e+06
Albania                      NaN           NaN           NaN           NaN
Algeria             1.112489e+07  1.140486e+07  1.169015e+07  1.198513e+07
Andorra                      NaN           NaN           NaN           NaN
Angola                       NaN           NaN           NaN           NaN
...                          ...           ...           ...           ...
West Bank and Gaza           NaN           NaN           NaN           NaN
World               3.035056e+09  3.076121e+09  3.129064e+09  3.193947e+09
Yemen, Rep.                  NaN           NaN           NaN           NaN
Zambia              3.049586e+06  3.142848e+06  3.240664e+06  3.342894e+06
Zimbabwe            3.752390e+06  3.876638e+06  4.006262e+06  4.140804e+06

                                                                            \
year                        1964          1965          1966          1967
country
Afghanistan         9.728645e+06  9.935358e+06  1.014884e+07  1.036860e+07
Albania                      NaN           NaN           NaN           NaN
Algeria             1.229597e+07  1.262695e+07  1.298027e+07  1.335420e+07
Andorra                      NaN           NaN           NaN           NaN
Angola                       NaN           NaN           NaN           NaN
...                          ...           ...           ...           ...
West Bank and Gaza           NaN           NaN           NaN           NaN
World               3.259355e+09  3.326054e+09  3.395866e+09  3.465297e+09
Yemen, Rep.                  NaN           NaN           NaN           NaN
Zambia              3.449266e+06  3.559687e+06  3.674088e+06  3.792864e+06
Zimbabwe            4.279561e+06  4.422132e+06  4.568320e+06  4.718612e+06

                                                ...           GDP  \
year                        1968          1969  ...          2006
country                                         ...
Afghanistan         1.059979e+07  1.084951e+07  ...  7.057598e+09
Albania                      NaN           NaN  ...  8.992642e+09
Algeria             1.374438e+07  1.414444e+07  ...  1.170273e+11
Andorra                      NaN           NaN  ...  3.536452e+09
Angola                       NaN           NaN  ...  4.178948e+10
...                          ...           ...  ...           ...
West Bank and Gaza           NaN           NaN  ...  4.910100e+09
World               3.535512e+09  3.609910e+09  ...  5.107451e+13
Yemen, Rep.                  NaN           NaN  ...  1.908173e+10
Zambia              3.916928e+06  4.047479e+06  ...  1.275686e+10
Zimbabwe            4.874113e+06  5.036321e+06  ...  5.443896e+09

                                                                            \
year                        2007          2008          2009          2010
country
Afghanistan         9.843842e+09  1.019053e+10  1.248694e+10  1.593680e+10
Albania             1.070101e+10  1.288135e+10  1.204421e+10  1.192695e+10
Algeria             1.349771e+11  1.710007e+11  1.372110e+11  1.612073e+11
Andorra             4.010785e+09  4.001349e+09  3.649863e+09  3.346317e+09
Angola              6.044892e+10  8.417803e+10  7.549238e+10  8.247091e+10
...                          ...           ...           ...           ...
West Bank and Gaza  5.505800e+09  6.673500e+09  7.268200e+09  8.913100e+09
World               5.758343e+13  6.312856e+13  5.983553e+13  6.564782e+13
Yemen, Rep.         2.563367e+10  3.039720e+10  2.845950e+10  3.090675e+10
Zambia              1.405696e+10  1.791086e+10  1.532834e+10  2.026555e+10
Zimbabwe            5.291950e+09  4.415703e+09  8.157077e+09  9.422161e+09

                                                                            \
year                        2011          2012          2013          2014
country
Afghanistan         1.793024e+10  2.053654e+10  2.004633e+10  2.005019e+10
Albania             1.289087e+10  1.231978e+10  1.278103e+10  1.327796e+10
Algeria             2.000131e+11  2.090474e+11  2.097035e+11  2.135185e+11
Andorra             3.427236e+09  3.146178e+09  3.249101e+09           NaN
Angola              1.041159e+11  1.153984e+11  1.249121e+11  1.267751e+11
...                          ...           ...           ...           ...
West Bank and Gaza  1.045985e+10  1.127940e+10  1.247600e+10  1.271560e+10
World               7.284314e+13  7.442836e+13  7.643132e+13  7.810634e+13
Yemen, Rep.         3.107886e+10  3.207477e+10  3.595450e+10           NaN
Zambia              2.345952e+10  2.550306e+10  2.804552e+10  2.713464e+10
Zimbabwe            1.095623e+10  1.239272e+10  1.349023e+10  1.419691e+10


year                        2015
country
Afghanistan         1.919944e+10
Albania             1.145560e+10
Algeria             1.668386e+11
Andorra                      NaN
Angola              1.026431e+11
...                          ...
West Bank and Gaza  1.267740e+10
World               7.343364e+13
Yemen, Rep.                  NaN
Zambia              2.120156e+10
Zimbabwe            1.389294e+10

[252 rows x 112 columns]

In [5]:
df.unstack('year', fill_value = 0) #fill na with value method

                      Population                                            \
year                        1960          1961          1962          1963
country
Afghanistan         8.994793e+06  9.164945e+06  9.343772e+06  9.531555e+06
Albania             0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
Algeria             1.112489e+07  1.140486e+07  1.169015e+07  1.198513e+07
Andorra             0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
Angola              0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
...                          ...           ...           ...           ...
West Bank and Gaza  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
World               3.035056e+09  3.076121e+09  3.129064e+09  3.193947e+09
Yemen, Rep.         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
Zambia              3.049586e+06  3.142848e+06  3.240664e+06  3.342894e+06
Zimbabwe            3.752390e+06  3.876638e+06  4.006262e+06  4.140804e+06

                                                                            \
year                        1964          1965          1966          1967
country
Afghanistan         9.728645e+06  9.935358e+06  1.014884e+07  1.036860e+07
Albania             0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
Algeria             1.229597e+07  1.262695e+07  1.298027e+07  1.335420e+07
Andorra             0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
Angola              0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
...                          ...           ...           ...           ...
West Bank and Gaza  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
World               3.259355e+09  3.326054e+09  3.395866e+09  3.465297e+09
Yemen, Rep.         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
Zambia              3.449266e+06  3.559687e+06  3.674088e+06  3.792864e+06
Zimbabwe            4.279561e+06  4.422132e+06  4.568320e+06  4.718612e+06

                                                ...           GDP  \
year                        1968          1969  ...          2006
country                                         ...
Afghanistan         1.059979e+07  1.084951e+07  ...  7.057598e+09
Albania             0.000000e+00  0.000000e+00  ...  8.992642e+09
Algeria             1.374438e+07  1.414444e+07  ...  1.170273e+11
Andorra             0.000000e+00  0.000000e+00  ...  3.536452e+09
Angola              0.000000e+00  0.000000e+00  ...  4.178948e+10
...                          ...           ...  ...           ...
West Bank and Gaza  0.000000e+00  0.000000e+00  ...  4.910100e+09
World               3.535512e+09  3.609910e+09  ...  5.107451e+13
Yemen, Rep.         0.000000e+00  0.000000e+00  ...  1.908173e+10
Zambia              3.916928e+06  4.047479e+06  ...  1.275686e+10
Zimbabwe            4.874113e+06  5.036321e+06  ...  5.443896e+09

                                                                            \
year                        2007          2008          2009          2010
country
Afghanistan         9.843842e+09  1.019053e+10  1.248694e+10  1.593680e+10
Albania             1.070101e+10  1.288135e+10  1.204421e+10  1.192695e+10
Algeria             1.349771e+11  1.710007e+11  1.372110e+11  1.612073e+11
Andorra             4.010785e+09  4.001349e+09  3.649863e+09  3.346317e+09
Angola              6.044892e+10  8.417803e+10  7.549238e+10  8.247091e+10
...                          ...           ...           ...           ...
West Bank and Gaza  5.505800e+09  6.673500e+09  7.268200e+09  8.913100e+09
World               5.758343e+13  6.312856e+13  5.983553e+13  6.564782e+13
Yemen, Rep.         2.563367e+10  3.039720e+10  2.845950e+10  3.090675e+10
Zambia              1.405696e+10  1.791086e+10  1.532834e+10  2.026555e+10
Zimbabwe            5.291950e+09  4.415703e+09  8.157077e+09  9.422161e+09

                                                                            \
year                        2011          2012          2013          2014
country
Afghanistan         1.793024e+10  2.053654e+10  2.004633e+10  2.005019e+10
Albania             1.289087e+10  1.231978e+10  1.278103e+10  1.327796e+10
Algeria             2.000131e+11  2.090474e+11  2.097035e+11  2.135185e+11
Andorra             3.427236e+09  3.146178e+09  3.249101e+09  0.000000e+00
Angola              1.041159e+11  1.153984e+11  1.249121e+11  1.267751e+11
...                          ...           ...           ...           ...
West Bank and Gaza  1.045985e+10  1.127940e+10  1.247600e+10  1.271560e+10
World               7.284314e+13  7.442836e+13  7.643132e+13  7.810634e+13
Yemen, Rep.         3.107886e+10  3.207477e+10  3.595450e+10  0.000000e+00
Zambia              2.345952e+10  2.550306e+10  2.804552e+10  2.713464e+10
Zimbabwe            1.095623e+10  1.239272e+10  1.349023e+10  1.419691e+10


year                        2015
country
Afghanistan         1.919944e+10
Albania             1.145560e+10
Algeria             1.668386e+11
Andorra             0.000000e+00
Angola              1.026431e+11
...                          ...
West Bank and Gaza  1.267740e+10
World               7.343364e+13
Yemen, Rep.         0.000000e+00
Zambia              2.120156e+10
Zimbabwe            1.389294e+10

[252 rows x 112 columns]